@import "nord.scss";

// $font-stack: Helvetica, sans-serif;
$font-stack: Ubuntu, sans-serif;


body {
  background-color: $nord0;
  color: $nord8;
  font: 100% $font-stack;
  max-width: 50rem;
  border-style: dashed;
  border-color: $nord1;
  padding: 0.3rem;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

:any-link {
  color: $nord12;
}

a:hover {
  color: $nord14;
}

.menu {
  background-color: $nord2;
  border-style: dashed;
  border-color: $nord3;
}

.page_title {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord3;
  color: $nord7;
}

.section_title {
  text-decoration: underline;
  color: $nord7;
}

.page_subtitle {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord1;
  color: $nord15;
}

.tags {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord1;
  color: $nord15;
}

blockquote {
  border-left: 0.2rem solid $nord13;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

hr {
  color: $nord1;
}

table {
  background-color: $nord1;
  border-style: double;
  border-color: $nord9;
  border-width: 0.1rem;
  border-collapse: collapse;
}

th {
  color: $nord6;
  background-color: $nord1;
  border-style: double;
  border-color: $nord10;
  border-width: 0.2rem;
  padding: 0.2rem;
}

td {
  color: $nord4;
  padding: 0.3rem;
  border-right: 0.1rem double;
  border-color: $nord9;
  border-width: 0.1rem;
}

tr {
  background-color: $nord2;
}

tr:nth-child(even) {
  background-color: $nord3;
}

p code {
  font-size: 1rem;
  padding: 0.2rem;
  border: 0.1rem solid $nord4;
  color: $nord6;
}

pre {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid $nord3;
}