@import "nord.scss";

// $font-stack: Helvetica, sans-serif;
$font-stack: Ubuntu, sans-serif;

body {
  background-color: $nord0;
}

.content {
  background-color: $nord1;
  color: $nord8;
  font: 100% $font-stack;
  max-width: 50rem;
  border-style: dashed;
  border-color: $nord2;
  padding: 0.3rem;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
}

#fediverse_div {
  max-width: 50rem;
  max-height: 32rem;
  overflow: auto;
  padding: 0.2rem;
}

.fediverse_post {
  border-style: dashed;
  border-color: $nord3;
  background-color: $nord2;
  padding: 0.1rem;
  margin-top: 0.3rem;
}

.giscus {
  background-color: $nord1;
  color: $nord8;
  font: 100% $font-stack;
  max-width: 50rem;
  border-style: dashed;
  border-color: $nord2;
  padding: 0.3rem;
  margin: 0 auto;
  overflow-wrap: break-word;
  // padding-bottom: 1rem;
}

.footer {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font: 100% $font-stack;
  background-color: $nord0;
  color: $nord3;
  border-style: dashed;
  border-color: $nord2;
  overflow-wrap: break-word;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.footer a {
  color: $nord3;
  text-decoration: none;
}


// .giscus-frame {

// }

.blog_ul {
  padding-left: 0.8rem;
  list-style-type: none;
}

.blog_li {
  border-left: 0.2rem solid $nord3;
  padding-left: 0.2rem;
  list-style-type: none;
  background-color: $nord0;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

:any-link {
  color: $nord12;
}

:any-link:hover {
  color: $nord14 !important;
}

.menu {
  background-color: $nord0;
  border-style: dashed;
  border-color: $nord3;
}

.page_title {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord3;
  color: $nord7;
  display: block;
  max-width: fit-content;
}

.section_title {
  text-decoration: underline;
  color: $nord7;
  display: block;
  max-width: fit-content;
}

.post-description {
  color: $nord15;
}

.page_subtitle {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord3;
  color: $nord15;
  display: block;
  max-width: fit-content;
}

.tags {
  border-style: dashed;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-color: $nord3;
  color: $nord15;
  display: block;
  max-width: fit-content;
}

.toc {
  border-style: dashed;
  padding: 0.3rem;
  border-color: $nord3;
  color: $nord13;
  display: block;
  max-width: fit-content;
}

.toc a {
  color: $nord13;
}

#toc-content {
	display: none;
}

#toc-content:target {
	display: block;
}

blockquote {
  border-left: 0.2rem solid $nord13;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

hr {
  color: $nord1;
}

table {
  background-color: $nord1;
  border-style: double;
  border-color: $nord9;
  border-width: 0.1rem;
  border-collapse: collapse;
}

th {
  color: $nord6;
  background-color: $nord1;
  border-style: double;
  border-color: $nord10;
  border-width: 0.2rem;
  padding: 0.2rem;
}

td {
  color: $nord4;
  padding: 0.3rem;
  border-right: 0.1rem double;
  border-color: $nord9;
  border-width: 0.1rem;
}

tr {
  background-color: $nord2;
}

tr:nth-child(even) {
  background-color: $nord3;
}

p code {
  font-size: 1rem;
  padding: 0.2rem;
  border: 0.1rem solid $nord4;
  color: $nord6;
  display: inline-block;
  max-width: fit-content;
}

pre {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid $nord3;
  overflow: auto;
}

img{
  max-width: 100%;
}

.tag, summary {
  color: $nord13;
}

#up_button {
  color: $nord15;
}

mark {
  color: $nord4 !important;
  background-color: $nord11 !important;
}