<!DOCTYPE html>
<html lang="ru">

<head>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if page %}
      {{ page.title }}
      {% elif section %}
      {{ section.title}}
      {% else %}
      title not found
      {% endif %}
    </title>
    <link rel="icon" type="image/x-icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/rocket_1f680.png">
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  </head>
</head>

<!-- MENU -->

<body>

    <div class="menu" style="text-align: center">
      <a href="{{ config.base_url }}"> 🥛 </a>
      |
      <a href="{{ config.base_url }}/blog"> блог </a>
      |
      <!-- <a href="{{ config.base_url }}/projects"> проекты </a> -->
      <!--       | -->
      <!-- <a href="{{ config.base_url }}/games"> игры </a> -->
      <!--       | -->
      <a href="{{ config.base_url }}/aboutme"> обо мне </a>
      |
      <a href="{{ config.base_url }}/tags"> теги </a>
      |
    </div>

  <div class="content">
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
  </div>

  {% if page.extra.comments or section.extra.comments %}
  <h1 id="comments"></h1>
  <noscript> Комментари: <a
      href="https://github.com/milkspace/milkspace.github.io/discussions" target="_blank">https://github.com/milkspace/milkspace.github.io/discussions</a></noscript>
  <script src="https://giscus.app/client.js" data-repo="milkspace/milkspace.github.io" data-repo-id="R_kgDOHD73WQ"
    data-category="Announcements" data-category-id="DIC_kwDOHD73Wc4COWgm" data-mapping="title"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top"
    data-theme="{{ get_url(path='giscus.css') }}" data-lang="ru" crossorigin="anonymous" async>
    </script>

  {% endif %}


  <div class="footer" style="text-align: center">
    <!-- <span> Почта: <a href="mailto:milkspace@duck.com">milkspace@duck.com</a> </span> -->
    <!-- <br> -->
    <!-- <span> Репозиторий с сайтом: <a href="https://github.com/milkspace/milkspace.github.io" target="_blank">https://github.com/milkspace/milkspace.github.io</a></span> -->
    <a href="mailto:milkspace@duck.com">почта</a>
    |
    <a href="https://github.com/milkspace/milkspace.github.io">репозиторий с сайтом</a>
    |

    <a href="https://milkspace.xyz/atom.xml">RSS</a>
  </div>
</body>

</html>
