{% extends "base.html" %}

{% block content %}
<h1 class="section_title">
  {{ section.title }}
</h1>

{{ section.content | safe}}

<ul class="blog_ul">
  {% for page in section.pages %}
  <li type="none" class="blog_li">
    📅 {{ page.date }} |
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% if page.description%}
    <br>
    <span class="post-description">
      📜 {{page.description}}
    </span>
    {% endif %}
    {% if page.updated %}
    <br>✏️ {{ page.updated }}
    {% endif %}
    {% if not page.updated%}
    <br>
    {% endif %}
    {% if page.taxonomies.tags %}
     
    {% for tag in page.taxonomies.tags%}
    🏷️ <a class="tag" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
    
    {% endfor %}
    <!-- 🏷️ {{ page.taxonomies.tags | join(sep=", ")}} -->
    {% endif %}

  </li>
  <br>
  {% endfor %}
</ul>
{% endblock content %}