{% extends "base.html" %}



{% block content %}
<h1>
    <span class="page_title">
        🪧 {{ page.title }}
    </span>
</h1>
<span class="page_subtitle">
    📅 <strong>{{ page.date }}</strong>
    {% if page.updated %}
    <strong> ✏️ {{ page.updated }}</strong>
    {% endif %}
</span>

{% if page.toc %}
    <br>   
    <div class="toc">
        <a href="#toc-content" id="toc">[Содержание]</span>
        <div id="toc-content">
            <ul>
            {% for h1 in page.toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            {%if page.extra.comments %}
                <li>
                    <a href="#comments">Комментарии</a>
                </li>
            {% endif %}
            </ul>
            <a href="#">[Скрыть]</a>
        </div>  
    </div>
{% elif page.extra.comments %}
<br>
<div class="toc">
    <a href="#comments">[Комментарии]</a>
</div>
{% endif %}

{{ page.content | safe }}

<br>
{% if page.taxonomies.tags %}
<span class="tags"> 
    {% for tag in page.taxonomies.tags %}
    🏷️ <a class="tag" href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
    {% endfor %}
</span>
{% endif %}

<br>
<a href="#" id="up_button">[Вернуться вверх]</a>

{% endblock content %}