{% extends "base.html" %}

{% block content %}
<h1 class="section_title">
  {{ section.title }}
</h1>

{{ section.content | safe}}

<ul>
  {% for page in section.pages %}
  <li type="square">
    📅 {{ page.date }} |
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% if page.updated %}
    <br>✏️ {{ page.updated }}
    {% endif %}
    {% if not page.updated%}
    <br>
    {% endif %}
    {% if page.taxonomies.tags %}
    🏷️ {{ page.taxonomies.tags | join(sep=", ")}}
    {% endif %}
    
  </li>
  <br>
  {% endfor %}
</ul>
{% endblock content %}
